<?xml version="1.0"?>
<ruleset name="Imageblendedcolorallocate">

    <!-- Arguments -->
    <arg name="extensions" value="php" />
    <arg name="colors" />
    <arg value="sp" />

    <!-- Sniff the source, tests and examples -->
    <file>source</file>
    <file>tests</file>
    <file>examples</file>

    <!-- Enforce PHP-FIG’s PSR-12 standard -->
    <rule ref="PSR12" />

</ruleset>
